[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[phases.start]
cmd = "uvicorn main:app --host 0.0.0.0 --port 10000"
